@model MahalCoffee_CSC400.Models.Product
<link rel="stylesheet" href="~/css/edit.css" asp-append-version="true"/>

@{  
    ViewBag.Title = "Edit Product";
    Layout = "_Layout";
}

<section class="edit-product-form" id="edit-product">
    <h1 class="heading">Edit Product<span>Update details for the product</span></h1>
    <form method="post" asp-action="Edit" asp-controller="Product">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="Barista" />
        <input type="hidden" asp-for="MenuViewId" />
        <input type="hidden" asp-for="MenuView" />
        <input type="hidden" asp-for="ProductIngredients" />

        <div class="row g-2">
            <div class="col-md">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="input-box form-control" />
            </div>
            <div class="col-md">
                <label asp-for="ImageUrl" class="form-label">Image URL</label>
                <input asp-for="ImageUrl" class="input-box form-control" />
            </div>
        </div>

        <div class="row g-2">
            <div class="col-md">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" class="input-box form-control" rows="3"></textarea>
            </div>
            <div class="col-md">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="input-box form-control" />
            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Update Product</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</section>