@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<br/>
<br/>
<br/>
<br/>
<br/>

<section class="home" id="home">
    <div class="row">
        <div class="content">
            <h3>fresh coffee in the morning</h3>
            
        </div>

        <div class="image">
            <img src="image/cup_with_logo-removebg-preview.png" class="main-home-image" alt="">
        </div>
    </div>

    <div class="image-slider">
        <img src="image/cup_with_logo-removebg-preview.png" alt="">
        <img src="image/cup 2.PNG" alt="">
        <img src="image/home-img-3.png" alt="">
    </div>
</section>



<section class="about" id="about">
    <h1 class="heading">Who we are <span>why choose us</span></h1>

    <div class="row">
        <div class="image">
            <img src="image/about-img.png" alt="">
        </div>

        <div class="content">
            <h3 class="title">What's make our Coffee Shop special!</h3>
            <p>Welcome to MahAl, your haven for exceptional coffee in the heart of Lebanon! At MahAl, we have carefully crafted a coffee experience that goes beyond the ordinary. Our name, MahAl, is a fusion of the names Mahdi and Alaa, the visionary founders who share a passion for both coffee and technology.
                <br/>
               As developers by profession, Mahdi and Alaa have meticulously designed every aspect of MahAl, from the cozy ambiance to the seamless website you're exploring right now. Our coffee shop is more than a place to savor rich, aromatic brews – it's a haven for developers and tech enthusiasts alike. The atmosphere at MahAl is charged with creativity, making it the perfect space for brainstorming, coding, or simply unwinding with a cup of our signature coffee.
               <br/>
               What makes our coffee truly special is not just the premium beans we source from the finest coffee plantations, but also the care and attention infused into every cup. Whether you're a latte lover, an espresso aficionado, or someone who appreciates the subtle notes of a pour-over, MahAl has a blend that will captivate your taste buds.
               <br/>
               At MahAl, we've transformed our passion for coffee and technology into a vibrant and welcoming space. Join us, and let MahAl become your go-to destination for delightful coffee, stimulating conversations, and the perfect setting to fuel your creativity. Welcome to the MahAl family – where every cup tells a story, and every moment is crafted with care.</p>

            <div class="icons-container">
                <div class="icons">
                    <img src="image/about-icon-1.png" alt="">
                    <h3>quality coffee</h3>
                </div>
                <div class="icons">
                    <img src="image/about-icon-2.png" alt="">
                    <h3>our branches</h3>
                </div>
                <div class="icons">
                    <img src="image/about-icon-3.png" alt="">
                    <h3>free delivery</h3>
                </div>
            </div>
        </div>
    </div>
</section>