.edit-product-form {
    background: url(../image/menu-bg.jpg) no-repeat center/cover;
}

.edit-product-form form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding: 3rem;
    border: var(--border);
}

.edit-product-form .input-box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.edit-product-form .input-box:focus {
    border: var(--border-hover);
}

.edit-product-form textarea {
    height: 15rem;
    resize: none;
}

.edit-product-form .heading {
    color: #fff;
    text-align: center;
}

.edit-product-form .heading span {
    font-size: 1.2rem;
    display: block;
    margin-top: 0.5rem;
}

.edit-product-form label.form-label {
    color: #fff;
    margin-bottom: 0.5rem;
    display: block;
}

.edit-product-form .btn-success {
    background-color: #28a745;
    color: #fff;
}

.edit-product-form .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    margin-left: 1rem;
}

